/*! HEADER */
header {
  background-color: #202020;
  min-height: 75px;
  margin-top: 0;
}

html body {
  background-color: #F8F8F8;
}

.logo {
  text-align: center;
  color: #F8F8F8;
  margin-top: 0;
  padding-top: 20px;
  font-size: 25px;
  font-weight: normal;
}

#profile {
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

.lead {
  font-weight: lighter;
}

.projects {
  text-align: center;
  font-size: 25px;
}

.row {
  text-align: center;
}

.row span {
  color: black;
  font-size: 15px;
}
}

footer {
  padding-top: 50px;
}

footer p {
  text-align: center;
  font-size: 10px;
}
