/*! HEADER */


/*! BODY */
.navbar-wrapper {
  padding-bottom: 25px;
}

body {
  background-color: #F8F8F8;
}

.featurette-heading {
  padding-top: 25px;
}

#profile {
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

.lead {
  font-weight: lighter;
}

.projects {
  text-align: center;
  font-size: 25px;
}

.row1 {
  text-align: center;
}

footer p {
  padding-right: 25px;
  font-size: 10px;
}
